<div class="jira">
    <div class="example-container">
        <h2>BACKLOG</h2>

        <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList,reviewList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag (click)="handleClick()">
                <h3 class="example-box__title">{{item.name}}</h3>
                <div class="example-box__content">
                    <div class="example-box__content__left">
                        <div class="img">
                            <img src="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_48/v1592405732/captain_e8s9nk.jpg"
                                alt="avatar">
                        </div>
                        <p>STORY-2022</p>
                    </div>
                    <div class="example-box__content__right">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="width: 20px; height: 20px; fill: currentcolor;">
                            <use xlink:href="https://jira.trungk18.com/project/board#arrow-up"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>IN PROGRESS</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[pendingList,reviewList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
                <h3 class="example-box__title">{{item.name}}</h3>
                <div class="example-box__content">
                    <div class="example-box__content__left">
                        <div class="img">
                            <img src="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_48/v1592405732/captain_e8s9nk.jpg"
                                alt="avatar">
                        </div>
                        <p>STORY-2022</p>
                    </div>
                    <div class="example-box__content__right">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="width: 20px; height: 20px; fill: currentcolor;">
                            <use xlink:href="https://jira.trungk18.com/project/board#arrow-up"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>DONE</h2>

        <div cdkDropList #reviewList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[doneList,pendingList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>
                <h3 class="example-box__title">{{item.name}}</h3>
                <div class="example-box__content">
                    <div class="example-box__content__left">
                        <div class="img">
                            <img src="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_48/v1592405732/captain_e8s9nk.jpg"
                                alt="avatar">
                        </div>
                        <p>STORY-2022</p>
                    </div>
                    <div class="example-box__content__right">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="width: 20px; height: 20px; fill: currentcolor;">
                            <use xlink:href="https://jira.trungk18.com/project/board#arrow-up"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <p>Content one</p>
        <p>Content two</p>
        <p>Content three</p>
    </ng-container>
</nz-modal>