<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{res.name}}</nz-page-header-title>
    <nz-page-header-subtitle>{{res.select_space}}</nz-page-header-subtitle>
    <nz-page-header-extra class="display-flex">
        <button *ngIf="roomMaster" style="width: 32px; height: 32px" class="border-none outline-none border-rd-50 display-flex-center cursor-pointer"><i class="icon-user-plus"></i></button>
        <nz-avatar-group>
            <nz-avatar *ngFor="let item of listUser" nzIcon="user" [nzSrc]="environment.apiUrlImg + item.avatar" nz-tooltip [nzTooltipTitle]="item.name"></nz-avatar>
        </nz-avatar-group>
        <button nz-button nzType="primary" nzShape="round" (click)="showModal()">Tạo Todo</button>
    </nz-page-header-extra>
    <nz-page-header-content>
        <div class="jira">
            <div class="example-container">
                <h2>BACKLOG</h2>

                <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doneList,reviewList]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo; index as i" cdkDrag
                        (click)="handleClickEdit(item, 'todo', i)">
                        <h3 class="example-box__title">{{item.name}}</h3>
                        <div class="example-box__content">
                            <div class="example-box__content__left">
                                <div class="img">
                                    <img src="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_48/v1592405732/captain_e8s9nk.jpg"
                                        alt="avatar">
                                </div>
                                <p>{{item.subDescribe}}</p>
                            </div>
                            <div class="example-box__content__right">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="width: 20px; height: 20px; fill: currentcolor;">
                                    <use xlink:href="https://jira.trungk18.com/project/board#arrow-up"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="example-container">
                <h2>IN PROGRESS</h2>

                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="inProgress"
                    [cdkDropListConnectedTo]="[pendingList,reviewList]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of inProgress; index as i" cdkDrag
                        (click)="handleClickEdit(item, 'inProgress', i)">
                        <h3 class="example-box__title">{{item.name}}</h3>
                        <div class="example-box__content">
                            <div class="example-box__content__left">
                                <div class="img">
                                    <img src="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_48/v1592405732/captain_e8s9nk.jpg"
                                        alt="avatar">
                                </div>
                                <p>{{item.subDescribe}}</p>
                            </div>
                            <div class="example-box__content__right">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="width: 20px; height: 20px; fill: currentcolor;">
                                    <use xlink:href="https://jira.trungk18.com/project/board#arrow-up"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="example-container">
                <h2>DONE</h2>

                <div cdkDropList #reviewList="cdkDropList" [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[doneList,pendingList]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done; index as i" cdkDrag
                        (click)="handleClickEdit(item, 'done', i)">
                        <h3 class="example-box__title">{{item.name}}</h3>
                        <div class="example-box__content">
                            <div class="example-box__content__left">
                                <div class="img">
                                    <img src="https://res.cloudinary.com/dvujyxh7e/image/upload/c_scale,w_48/v1592405732/captain_e8s9nk.jpg"
                                        alt="avatar">
                                </div>
                                <p>{{item.subDescribe}}</p>
                            </div>
                            <div class="example-box__content__right">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="width: 20px; height: 20px; fill: currentcolor;">
                                    <use xlink:href="https://jira.trungk18.com/project/board#arrow-up"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nz-page-header-content>
</nz-page-header>

<app-detail-create [paramId]="paramId" [isVisible]="isVisibleCreate" [todo]="todo" [isOkLoading]="isOkLoading"
    [res]="res" (handleCancelEmit)="isVisibleCreate = false" (handleChangeCreateEmit)="handleChangeCreate($event)">
</app-detail-create>

<app-detail-edit *ngIf="isVisibleEdit" [isVisibleEdit]="isVisibleEdit" (handleCancelEmit)="handleCancelEdit()"
    [valueItem]="valueItem" (handleChangeItemStatusEmit)="handleChangeItemStatus($event)"
    (handleChangeRemoveEmit)="handleChangeRemove($event)"></app-detail-edit>